@import 'variables';

body{
    background-color: $color-fondo-gray;
}

.results{
    box-shadow: $box-shadow;
    margin-bottom: 32px;
    background-color: $background-color-white;
}

.breadcrumb{
    color: $font-color;
    font-size: 14px;
    margin: $value-16px 0 $value-16px 0;
    background-color: $color-fondo-gray!important;
}

.loadContainer{
    height: 550px!important;

    .loading{
        width: auto;
    }

}
    
.producto{
    margin: 0;
    border-bottom: 1px solid #D9D9D9;
    color: black;
        
    .thumbnailContainer{
        padding: 0;
    
        
    
        .thumbnail{
            width: 180px;
            margin: $value-16px;
        }
    }

    .detalles{
        height: fit-content;
        margin-top: 45px;  

        .precio-y-shipping{
            display: inline-flex;
            align-items: $justify-align-center;

            .shipping{
                margin-left: 8px;
            }

            .precio{
                font-size: 24px;
                margin-bottom: 0;
            }
        }

        .articulo{
            font-size: $title-search-size;
            height: max-content;
            padding-top: $value-32px;
            margin-bottom: 0;

            strong{
                font-weight: normal;
            }
        }
    }
    
    .city{
        text-align: center;
        font-size: 12px;
        margin: 50px 0 0 0;
        padding: 0;
    }
}

@media (max-width: 768px){

    .container{
        margin: 0;
        max-width: 768px;
    }

    .loadContainer{
        height: 450px!important;
    
    }

    .thumbnail{
        width: 140px!important;
    }

    .detalles{
        margin-top: 33px!important;

        .precio{
            font-size: 20px!important;
        }

        .articulo{
            font-size: 16px!important;
            padding-top: 25px!important;
        }
    }
}

@media (max-width: 576px){
    .breadcrumb{
        font-size: 11px;
        padding: 0 0 0 10px;
    }

    .thumbnail{
        width: 100px!important;
    }

    .producto{
        padding-right: 15px;
    }

    .detalles{
        margin-top: 20px!important;
        padding: 0;

        .precio{
            font-size: 15px!important;
        }

        .articulo{
            font-size: 10px!important;
            padding-top: 20px!important;

        }
    }

    .city{
        font-size: 9px!important;
    }
}