$color-header: #FFE600 !default;
$button-color: #EEEEEE !default;
$lupa-color: #333333 !default;
$color-fondo-gray: #E7E7E7 !default;
$color-buy-blue: #3483FA;
$value-32px: 32px;
$value-16px: 16px;
$font-color: #999999;
$background-color-white: white;
$box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
$hover-search: #EFEFEF;
$justify-align-center: center;
$title-search-size: 18px;