$color-header: #FFE600 !default;
$button-color: #EEEEEE !default;
$lupa-color: #333333 !default;
$color-fondo: #E7E7E7 !default;
$color-buy: #3483FA;
$padding-top: 32px;
$margin-top: 16px;
$font-color: #999999;